<!DOCTYPE html>
<html>

<head>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
    <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.14/dist/vue.js"></script>
   
</head>

<body>
    <div id="app">
        <v-app>

            <template>
                <v-card flat>
                    <v-toolbar dark color="teal accent-2" flat>
                        <v-toolbar-side-icon></v-toolbar-side-icon>
                        <v-toolbar-title class="body-2 grey--text">nenadspasic.com</v-toolbar-title>
                        <v-spacer></v-spacer>
                        <v-tooltip bottom>
                            <v-icon white color="teal accent-3" slot="activator">home</v-icon>
                            <span>Home</span>
                        </v-tooltip>

                        <v-btn icon>
                            <v-tooltip bottom>
                                <v-icon color="teal accent-3" slot="activator">search</v-icon>
                                <span>Search</span>
                            </v-tooltip>

                        </v-btn>
                        <v-btn icon>
                            <v-tooltip bottom>
                                <v-icon color="teal accent-3" slot="activator">apps</v-icon>
                                <span>Apps</span>
                            </v-tooltip>
                        </v-btn>

                        <v-btn icon>
                            <v-tooltip bottom>
                                <v-icon color="teal accent-3" slot="activator">more_vert</v-icon>
                                <span>More_vert</span>
                            </v-tooltip>
                        </v-btn>

                    </v-toolbar>
                    </v-toolbar>

            </template>
            <template>
                <v-parallax src="https://vuetifyjs.com/static/doc-images/vbanner.jpg" height="auto">
                    <v-layout column align-center justify-center>
                            <div>
                                    <v-layout row wrap>
                                      <v-flex xs12 sm3>
                                        <v-checkbox hide-details label="Landscape" v-model="landscape"></v-checkbox>
                                      </v-flex>
                                      <v-flex xs12 sm3>
                                        <v-checkbox hide-details label="Reactive" v-model="reactive"></v-checkbox>
                                      </v-flex>
                                    </v-layout>
                                
                                    <v-date-picker v-model="picker" :landscape="landscape" :reactive="reactive"></v-date-picker>
                                  </div> 

                                  <v-app light>
                                        <v-content>
                                          <v-container>
                                            <v-layout row wrap align-center>
                                              <v-flex xs12 md4>
                                                <div class="text-xs-center">
                                                  <v-avatar size="125px">
                                                    <img
                                                      class="img-circle elevation-7 mb-1"
                                                      src="../spaMala.png"
                                                    >
                                                  </v-avatar>
                                                  <div class="headline">Nenad <span style="font-weight:bold">Spasic</span></div>
                                                  <div class="subheading text-xs-center grey--text pt-1 pb-3">Front-end Web developer</div>
                                                  <v-layout justify-space-between>
                                                    <a href="javascript:;" class="body-2">Home</a>
                                                    <a href="javascript:;" class="body-2">About</a>
                                                    <a href="javascript:;" class="body-2">Github</a>
                                                    <a href="javascript:;" class="body-2">Other</a>
                                                  </v-layout>
                                                </div>
                                              </v-flex>
                                              <v-flex xs12 md5 offset-md2>
                                                <div v-for="post in posts" :key="post.title">
                                                  <v-card class="my-3" hover>
                                                    <v-card-media
                                                      class="white--text"
                                                      height="170px"
                                                      :src="post.imgUrl"
                                                    >
                                                      <v-container fill-height fluid>
                                                        <v-layout>
                                                          <v-flex xs12 align-end d-flex>
                                                            <span class="headline">{{ post.title }}</span>
                                                          </v-flex>
                                                        </v-layout>
                                                      </v-container>
                                                    </v-card-media>
                                                    <v-card-text>
                                                      {{ post.content }}
                                                    </v-card-text>
                                                    <v-card-actions>
                                                      <v-btn icon class="red--text">
                                                        <v-icon medium>fa-reddit</v-icon>
                                                      </v-btn>
                                                      <v-btn icon class="light-blue--text">
                                                        <v-icon medium>fa-twitter</v-icon>
                                                      </v-btn>
                                                      <v-btn icon class="blue--text text--darken-4">
                                                        <v-icon medium>fa-facebook</v-icon>
                                                      </v-btn>
                                                      <v-spacer></v-spacer>
                                                      <v-btn flat class="blue--text">Read More</v-btn>
                                                    </v-card-actions>
                                                  </v-card>
                                                </div>
                                              </v-flex>
                                            </v-layout>
                                          </v-container>
                                        </v-content>
                                        <v-footer class="secondary" app>
                                          <v-layout row wrap align-center>
                                            <v-flex xs12>
                                              <div class="white--text ml-3">
                                                Made with
                                                <v-icon class="red--text">favorite</v-icon>
                                                and <a class="white--text" href="https://vuetifyjs.com" target="_blank">Vuetify</a>
                                                
                                              </div>
                                            </v-flex>
                                          </v-layout>
                                        </v-footer>
                                      </v-app>
     

                        
                    </v-layout>
                </v-parallax>
                
            </template>
            
           
            

        </v-app>
    </div>


    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
                data () {
                  return {
                    picker: null,
                    landscape: true,
                    reactive: false}
                }, 
                data () {
                    return { 
                      
                      title: 'Your Logo',
                      posts: [
                        {
                          title: 'Fusce ullamcorper tellus',
                          content: 'Fusce ullamcorper tellus sed maximus rutrum. Donec imperdiet ultrices maximus. Donec non tellus non neque pellentesque fermentum. Aenean in pellentesque urna.',
                          imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/drop.jpg'
                        },
                        {
                          title: 'Donec vitae suscipit lectus, a luctus diam.',
                          content: 'Donec vitae suscipit lectus, a luctus diam. Proin vitae felis gravida, lobortis massa sit amet, efficitur erat. Morbi vel ultrices nisi.',
                          imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/docks.jpg'
                        },
                        {
                          title: 'Vestibulum condimentum quam',
                          content: 'At sagittis sapien vulputate. Vivamus laoreet lacus id magna rutrum dapibus. Donec vel pellentesque arcu. Maecenas mollis odio tempus felis elementum commodo.',
                          imgUrl: 'https://raw.githubusercontent.com/vuetifyjs/docs/dev/static/doc-images/cards/plane.jpg'
                        }
                      ]
                    }
                  }
              
        })
    </script>


</body>

</html>